.art-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 25%; 
}

.art-cards-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.artist-info { 
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  max-width: 100%; 
  margin-top: 10%; 
}

i {
  color:black; 
}