.med-wrap {
    display: flex; 
    flex-direction: row; 
    position: relative; 
    gap: 10rem; 
    padding: 40px; 
    justify-content: center; 
}

.med-wrap.item {
    padding: 30px; 
}

.med-wrap img {
   max-width: 400px; 
   max-height: 200px; 
   border-radius: 2px; 
}