.contact-page-wrap {
    width: 100%;
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin-top: 60px; 
}

@font-face {
    font-family: 'customOne';
    src: url('../assets/rainyhearts.ttf') format('truetype');
  }
.contact-page-wrap h4 {
  font-size: 40px!important; 
  font-weight: 400; 
  font-family: customOne;
  margin-bottom: 20px!important; 
}

div.contact-page-wrap p {
  max-width: 70%; 
}

