.dropdown {
  position: relative;
  width: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 10px;


}

.dropdown-menu {
  background-color: lightgrey;
  width: 150px;
  border-radius: 5px;
  margin-top: 2px;
  padding: 10px;
  line-height: 50px;
  background-color: #f2f2f2;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown-toggle {
  background-color: transparent;
  transition: background-color 0.3s ease;
  height: 50px;
  width: 157px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}

.dropdown-toggle:active {
  background-color: #f2f2f2;
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  font-size: larger;


}

.dropdown-menu ul li {
  margin-right: 10px;

}

.dropdown-menu ul li:last-child {
  margin-right: 0;
}