.drop-down-slider-wrap {
  position: absolute; 
  z-index: 1000; 
  width: 100%; 
  top: 5%; 
}

.drop-downs-wrap{
  display: flex; 
  flex-direction: row; 
  width: 100%; 
  justify-content: center; 
  align-items: center;
  gap: 4rem; 
}

button.dropdown-toggle{
  color: #ffffff; 
  font-size: 20px; 
  font-weight: 600; 
}
.dropdown-toggle {
  border: none;
  background: none; 
  cursor: pointer;
}
.dropdown-toggle:hover{
  font-size: 21px;
  border-radius: 5px; 
}

.drop-down-menu {
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
}

.dropdown-menu a {
  text-decoration: none; 
  list-style-type: none;
  z-index: 1000; 
  color: #ffffff; 
}

.dropdown-menu ul {
  padding: 5px 10px; 
  list-style-type: none;
  margin: 0; 
}

.dropdown-menu ul li {
  margin-right: 10px;
  margin-bottom: 5px; 
}

.dropdown-menu ul li:last-child {
  margin-right: 0;
}